<script src="app.py"></script>
<html class="main">
    {% block header %}<head></head>{% endblock %}
    {% block content %}
    <body>
        <link rel= "stylesheet" type= "text/css" href="/static/styles/app.css">
        <div class="header">
            <div class="headeritem">
                <h1><a class='headertext' href="/">&lambda; PyRisk</a></h1>
            </div>
            <div class="headeritem">
                
                
            </div>
            <div class='headeritem'><h2 ><a class='headertext' href="/mplfinance-{{ticker}}-{{syear}}.png">MPLFinance</a></h2></div>
        </div>
        <div class="secondheader">
            <form method="POST" action="{{url_for('index')}}" name="form-name" value="new_chart">
                <input class="textfield" type="text" name="ticker" value={{ticker}} placeholder="ticker"/>
                <input class="textfield" type="date" name="start" placeholder="start"/>
                <input class="textfield" type="date" name="end" placeholder="end"/>
                <input class="textfield" type="text" name="indicators" placeholder="indicators"/>
                <input class="button" type="submit" value="create chart"/>
            </form>
            <form method="POST" action="{{url_for('index')}}" name="form-name" value="new_download">
                <!-- <div> -->
                    <input class="textfield" type="text" name="download_tickers"/>
                    <!-- <input class="textfield" type="text" name="is" value="{{indicators}}"/> -->
                <!-- </div> -->
                <input class="button" type="submit" value="download data"/>
            </form>
        </div>
        <!-- </div> -->
        <!-- <h2>Ticker: {{ticker}}</h2> -->
        <!-- <form method=get action="/">
            <input name="num_x_points" type=number value="{{num_x_points}}" />
            <input type=submit value="update graph">
        </form>
        <form method=get action="/">
            <input name="ticker" type=string value="{{ticker}}" />
            <input type=submit value="update graph">
        </form> -->
        
        <!-- </div> -->
        
        <div class="plotframe">
                    <img src="/mplfinance2-{{ticker}}-{{syear}}.{{smonth}}.{{sday}}-{{eyear}}.{{emonth}}.{{eday}}-{{indicators}}.png"
                        alt="mplfinance"
                        width="40%" >
                    <!-- <img src="/mplfinance-{{ticker2}}-{{syear2}}.png"
                        alt="mplfinance"
                        width="40%" > -->
                    
        </div>
        <!-- <h3><a href="//matplot-as-image-{{num_x_points}}.svg">Plot as a SVG</a></h3>
                    <img src="/matplot-as-image-{{num_x_points}}.svg"
                        alt="random points as svg"
                        width="40%" >
        <h3>Plot as a png</h3>
        <img src="/matplot-as-image-{{num_x_points}}.png"
            alt="random points as png"
            height="40%"
        > -->
    </body>
    {% endblock %}
</html>