<script src="pytrade.py"></script>
<html class="main">
    {% block header %}<head></head>{% endblock %}
    {% block content %}
    <body>
        <link rel= "stylesheet" type= "text/css" href="/static/styles/app.css">
        <div class="header">
            <div class="headeritem">
                <h1><a class='headertext' href="/kraken">&lambda; PyTrade</a></h1>
            </div>
            
            <!-- <div class="headeritem"><embed src="/lastprice"></embed></div> -->
            <div class="headeritem">
                <form method="POST" action="{{url_for('index')}}" name="form-name" value="enter_command">
                    <!-- <div> -->
                        <input class="commandentry" type="text" placeholder="send command" name="command_entry"/>
                        <!-- <input class="textfield" type="text" name="is" value="{{indicators}}"/> -->
                    <!-- </div> -->
                    <input class="button" type="submit" value="&#8699;"/>
                </form>
            </div>
        </div>
        <!-- <div class="plotframe">
            <img src="https://zachzimm.pythonanywhere.com/mplfinance2-ETH.USD-2021.1.1-2025.11.24-risk%20riskscatter.png"
                alt="mplfinance"
                width="40%" >
            <img src="https://zachzimm.pythonanywhere.com/mplfinance2-ETH.BTC-2021.1.1-2025.11.24-risk%20riskscatter.png"
                alt="mplfinance"
                width="40%" >
        </div> -->
        {"command": "update_data","ticker": "ETHBTC","date": "2022-12-07 20:05:00.000000+00:00","open": 0.08483,"high": 0.08486,"low": 0.08483,"close": 0.08486,"trades": 69,"volume": 0.0}
        <div class="bodylist">
            <div class="listitem"> <h3 class="lastprice">BTC_HI</h3> <h3 class="lastprice">{{xbtusd.high}}</h3> </div>
            <div class="listitem"> <h3 class="lastprice">BTC_LO</h3> <h3 class="lastprice">{{xbtusd.low}}</h3> </div>
            <div class="listitem"> <h3 class="lastprice">E/B_HI</h3> <h3 class="lastprice">{{ethbtc.high}}</h3> </div>
            <div class="listitem"> <h3 class="lastprice">E/B_LO</h3> <h3 class="lastprice">{{ethbtc.low}}</h3> </div>
            <div class="listitem"> <h3 class="lastprice">ETH_HI</h3> <h3 class="lastprice">{{ethusd.high}}</h3> </div>
            <div class="listitem"> <h3 class="lastprice">ETH_LO</h3> <h3 class="lastprice">{{ethusd.low}}</h3> </div>
        </div>
    </body>
    {% endblock %}
</html>