<script src="pytrade.py"></script>
<html class="main">
    {% block header %}<head></head>{% endblock %}
    {% block content %}
    <body>
        <link rel= "stylesheet" type= "text/css" href="/static/styles/app.css">
        <div class="header">
            <div class="headeritem">
                <h1><a class='headertext' href="/kraken">&lambda; PyTrade</a></h1>
            </div>
            <div class="headerlist">
                <div class="headeritem"><h3 class="headertext">{{ticker}} : {{price}}</h3></div>
                <div class="headeritem"><h3 class="headertext">ETH/XBT : {{ethbtc}}</h3></div>
            </div>
            
            <!-- <div class="headeritem"><embed src="/lastprice"></embed></div> -->
            <div class="headeritem">
                <!-- <form method="POST" action="{{url_for('kraken')}}" >
                    <input class="button" type="submit" value="START"/>
                </form> -->
            </div>
        </div>
        <div class="plotframe">
            <img src="https://zachzimm.pythonanywhere.com/mplfinance-BTC-USD-2016.png"
                alt="mplfinance"
                width="40%" >
            <img src="https://zachzimm.pythonanywhere.com/mplfinance-ETH-BTC-2020.png"
                alt="mplfinance"
                width="40%" >
        </div>
    </body>
    {% endblock %}
</html>